body {
	background-color: var(--light);
}

h1 {
	color: var(--grey);
	font-size: 32px;
	font-weight: 600;
	text-align: left;
}


header {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}

.total-cal{
	color: var(--grey);
	font-size: 28px;
	font-weight: 900;
    font-family: "Aboreto";
	background-color: #DFDFDF;
	padding: 5px 25px;
	border-radius: 8px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: montserrat, sans-serif;
}


.cal-trac {
    text-align: center;
     font-family: "Aboreto";
     color: white;
}

.total-cal{
    text-align: center;
}